#  db
DB_URL=jdbc:postgresql://localhost:5432/fabjava
DB_USERNAME=postgres
DB_PASSWORD=123456

# Minio
MINIO_URL=http://localhost:9000
MINIO_ACCESS_KEY=admin
MINIO_SECRET_KEY=12345678
MINIO_BUCKET=fab-media
MINIO_DOMAIN=http://localhost:9000/fab-media

# S3
AWS_S3_URL=http://localhost:9000
AWS_S3_ACCESS_KEY=admin
AWS_S3_SECRET_KEY=12345678
AWS_S3_BUCKET=fab-media
AWS_S3_REGION=ap-southeast-1