#  db
DB_URL=jdbc:postgresql://localhost:5432/fabjava
DB_USERNAME=postgres
DB_PASSWORD=123456

# Minio
STORAGE_URL=http://localhost:9000
STORAGE_ACCESS_KEY=admin
STORAGE_SECRET_KEY=12345678
STORAGE_BUCKET=fab-media
STORAGE_REGION=ap-southeast-1
STORAGE_DOMAIN=http://localhost:9000/fab-media

# S3
STORAGE_URL=http://localhost:9000
STORAGE_ACCESS_KEY=admin
STORAGE_SECRET_KEY=12345678
STORAGE_BUCKET=fab-media
STORAGE_REGION=ap-southeast-1
STORAGE_DOMAIN=http://localhost:9000/fab-media